---
import Layout from "../layouts/Layout.astro";
import Nav from "../components/Nav.astro";
import Footer from "../components/Footer.astro";
import { ghostClient } from "../lib/ghost";
const pages = await ghostClient.pages.browse({
  limit: "all",
  filter: "slug:about-kerimnur",
});
---

<Layout title="Welcome to Kerim Nur.">
  <Nav />
  <main>
    <!-- Start of Header section -->
    <div class="relative bg-white">
      <div class="absolute inset-0">
        <img
          class="h-full w-full object-cover"
          src="https://res.cloudinary.com/shinkirin/image/upload/v1670299874/InnoIslam/bluemosque.webp"
          alt="Blue Mosque - Istanbul, Turkey"
        />
        <div
          class="absolute inset-0 bg-blue-300 mix-blend-multiply"
          aria-hidden="true"
        >
        </div>
      </div>
      <div class="relative mx-auto max-w-7xl py-24 px-6 sm:py-32 lg:px-8">
        {
          pages.map((page) => (
            <>
              <h1 class="text-4xl font-bold tracking-tight text-white sm:text-5xl lg:text-6xl">
                {page.title}
              </h1>
              <p class="mt-6 max-w-3xl text-xl text-white">{page.excerpt}</p>
            </>
          ))
        }
      </div>
    </div>
    <!-- End of Header section -->
    <!-- Start of Content Section -->
    <div class="relative overflow-hidden bg-gray-50 py-16">
      <div
        class="hidden lg:absolute lg:inset-y-0 lg:block lg:h-full lg:w-full lg:[overflow-anchor:none]"
      >
        <div
          class="relative mx-auto h-full max-w-prose text-lg"
          aria-hidden="true"
        >
        </div>
      </div>
      <div class="relative px-6 lg:px-8">
        {
          pages.map((page) => (
            <>
              <div class="mx-auto max-w-prose text-lg">
                <h1>
                  <span class="mt-2 block text-center text-3xl font-bold leading-8 tracking-tight text-gray-900 sm:text-4xl">
                    {page.title}
                  </span>
                </h1>
                <article
                  class="prose prose-black mt-8 text-black prose-a:text-nur-500 hover:prose-a:text-nur-600"
                  set:html="page.html"
                />
              </div>
            </>
          ))
        }
      </div>
    </div>
    <!-- End of Content Section -->
  </main>
  <Footer />
</Layout>
