---
import { ghostClient } from "../lib/ghost";
import Nav from "../components/Nav.astro";
import Footer from "../components/Footer.astro";
const posts = await ghostClient.posts
  .browse({
    limit: "all",
  })
  .catch((err) => {
    console.error(err);
  });
---

<html lang="en">
  <head>
    <title>Kerim Nur</title>
  </head>
  <body>
    <Nav />
    <!-- Start of Header section -->
    <div class="relative bg-white">
      <div class="absolute inset-0">
        <img
          class="h-full w-full object-cover"
          src="https://res.cloudinary.com/shinkirin/image/upload/v1670299874/InnoIslam/bluemosque.webp"
          alt="Blue Mosque - Istanbul, Turkey"
        />
        <div
          class="absolute inset-0 bg-blue-300 mix-blend-multiply"
          aria-hidden="true"
        >
        </div>
      </div>
      <div class="relative mx-auto max-w-7xl py-24 px-6 sm:py-32 lg:px-8">
        <h1
          class="text-4xl font-bold tracking-tight text-white sm:text-5xl lg:text-6xl"
        >
          Kerim Nur
        </h1>
        <p class="mt-6 max-w-3xl text-xl text-white">
          Kerim means generous. Nur means light. My name is Kerim Nur. Assalaamu
          Aleikum. This is a blog about my views of the world as a Muslim
          convert.
        </p>
      </div>
    </div>
    <!-- End of Header section -->
    <!-- Start of Posts section -->
    {
      posts.map((post) => (
        <a
          class=" text-nur-600 hover:text-blue-400 text-md"
          href={`/post/${post.slug}`}
        >
          <h1 class="mt-4 ml-4"> {post.title} </h1>
        </a>
      ))
    }
    <!-- End of Posts section -->
    <Footer />
  </body>
</html>
