---
import { ghostClient } from "../lib/ghost";
const posts = await ghostClient.posts
  .browse({
    limit: "all",
  })
  .catch((err) => {
    console.error(err);
  });
---

<html lang="en">
  <head>
    <title>Astro + Ghost 👻</title>
  </head>
  <body>
    {
      posts.map((post) => (
        <a href={`/post/${post.slug}`}>
          <h1> {post.title} </h1>
        </a>
      ))
    }
  </body>
</html>
