---
import { ghostClient } from "../lib/ghost";
import Nav from "../components/Nav.astro";
const posts = await ghostClient.posts
  .browse({
    limit: "all",
  })
  .catch((err) => {
    console.error(err);
  });
---

<html lang="en">
  <head>
    <title>Astro + Ghost 👻</title>
  </head>
  <body>
    <Nav />
    {
      posts.map((post) => (
        <a
          class=" text-nur-600 hover:text-blue-400 text-md"
          href={`/post/${post.slug}`}
        >
          <h1 class="mt-4 ml-4"> {post.title} </h1>
        </a>
      ))
    }
  </body>
</html>
