<html class="h-full">
  <body class="h-full">
    <div class="flex min-h-full flex-col bg-white pt-16 pb-12">
      <main
        class="mx-auto flex w-full max-w-7xl flex-grow flex-col justify-center px-6 lg:px-8"
      >
        <div class="flex flex-shrink-0 justify-center">
          <a href="/" title="Homepage" class="inline-flex">
            <span class="sr-only">Kerim Nur</span>
            <img
              class="h-14 w-auto"
              src="https://res.cloudinary.com/shinkirin/image/upload/v1674260495/kerimnurblog/KerimNurLogo.webp"
              alt="Kerim Nur logo"
            />
          </a>
        </div>
        <div class="py-16">
          <div class="text-center">
            <p class="text-xl font-bold text-nur-600">404</p>
            <h1
              class="mt-2 text-4xl font-bold tracking-tight text-gray-900 sm:text-5xl"
            >
              Page not found.
            </h1>
            <p class="mt-6 text-md text-gray-900">
              Sorry, we couldn&apos;t find the page you&apos;re looking for.
            </p>
            <div class="mt-6">
              <a
                href="/"
                title="Return to homepage"
                class="text-base font-medium text-black hover:text-nur-600"
              >
                Go back home
                <span aria-hidden="true"> &rarr;</span>
              </a>
            </div>
          </div>
        </div>
      </main>
      <footer class="mx-auto w-full max-w-7xl flex-shrink-0 px-6 lg:px-8">
        <nav class="flex justify-center space-x-2">
          <a
            href="/contact"
            title="Contact Support"
            class="text-md font-medium text-black hover:text-nur-600"
            >Contact Support</a
          >
          <span class="inline-block border-l border-black" aria-hidden="true"
          ></span>
          <a
            href="https://twitter.com/MatsunagaKevin"
            title="Twitter Account for Kevin Matsunaga"
            target="_blank"
            rel="noreferrer"
            class="text-md font-medium text-black hover:text-nur-600">Status</a
          >
          <span class="inline-block border-l border-black" aria-hidden="true"
          ></span>
          <a
            href="https://twitter.com/MatsunagaKevin"
            title="Twitter Account for Kevin Matsunaga"
            target="_blank"
            rel="noreferrer"
            class="text-md font-medium text-black hover:text-nur-600">Twitter</a
          >
        </nav>
      </footer>
    </div>
  </body>
</html>
